<footer class="container-fluid">
  <span>&copy; Desarrollado por Full Stack Family | 2021</span>
  <div class="container-fluid">
  <button type="button" class="mat-icon-button btn btn-floating mx-1" href="">
    <i class="fab fa-facebook-f"><a href="https://www.facebook.com/people/Organiz-App/100075863771496/" target="_blank"></a></i>
  </button>

  <button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-instagram"><a href="https://www.instagram.com/organizapp1/?hl=es-la" target="_blank"></a></i>
  </button>

  <button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-twitter"><a href="https://twitter.com/stack_family" target="_blank"></a></i>
  </button>

  <button type="button" class="mat-icon-button btn btn-floating mx-1">
    <i class="fab fa-github"><a href="https://github.com/7-18/fsfamily" target="_blank"></a></i>
  </button>
  </div>
</footer>
