<div class="bgComponent">
  <div class="form">
    <mat-card class="card">
      <mat-card-title>Crea tu cuenta</mat-card-title>
      <mat-card-content>
        <div class="container">
          <mat-form-field>
            <input
              [(ngModel)]="registerData.name"
              matInput
              placeholder="Nombre y apellido"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.email"
              type="email"
              matInput
              placeholder="Correo electrónico"
              required
            />
          </mat-form-field>
          <mat-form-field>
            <input
              [(ngModel)]="registerData.password"
              type="password"
              matInput
              placeholder="Contraseña"
              required
            />
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="registerUser()" class="button" mat-raised-button>
          Registrarte
        </button>
      </mat-card-actions>
      <p>
        ¿Ya tienes cuenta?
        <a routerLink="/login">Iniciar sesión</a>
      </p>
    </mat-card>
  </div>
</div>
